{% extends 'base.html' %}
{% load static %}
{% block title %} Formulario de contacto{% endblock %}


{% block content %}
<div class="row">
<div class="col text-center">
    <h1>AQUI estamos los patos logeados</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea a laborum eligendi tempora assumenda corrupti voluptatum, laudantium enim adipisci veritatis nisi id delectus dolorem necessitatibus obcaecati sit commodi eum debitis.</p>
    <img id ="pato" src="{% static 'img/pato.jpg' %}" alt="patito">
</div>

</div>

{% endblock %}
